/.vs
*.csproj
*.asset
*.prefab
*.meta
.vsconfig
/.vscode
*.blend
*.png
*.controller
*.tif
*.jpg
*.raw
*.fbx
*.mat
*.shadergraph
*.mp3
*.brush
*.terrainlayer
*.wav
*.psd
*.unity
*.shader
*.tga
*.tga
*.exr
*.cubemap

/Assets/BlackPeaStudios
/Assets/CartHorsePack
/Assets/Almgp_automapping_shader
*.pdf
*.cginc
/Assets/Easy Texture Editor
/Assets/Desert Sandbox (NEW)
/Assets/Enviro 3 - Additional Weather Pack
/Assets/Daniel Mistage
/Assets/Enviro 3 - Sky and Weather
/Assets/epyphany
/Assets/GreenBugGames
*.zip
*.rtf
*.obj
*.hdr
*.txt
*.shadersubgraph
*.anim
/Assets/IgniteCoders
*.lighting
/Assets/Mesh Optimizer
/Assets
/Logs
/Packages
*.backup
/Temp
/Packages
/Packages
/Library
